# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Package metadata
*.egg-info/
*.dist-info/

# Virtual environments
venv/
env/
.venv/
.conda/
revn/

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter/IPython notebooks
.ipynb_checkpoints/

# IDEs/editors
.vscode/
.idea/

# Streamlit
.streamlit/

# FAISS index files
*.faiss

# Build/Distribution
build/
dist/
*.log

# PDF cache/output
*.pdf

# LangChain generated caches
.cache/
langchain/

# PyInstaller
*.spec
