langchain
langchain-core
langchain-community
langchainhub
langchain-groq
langchain-openai
langchain-objectbox
langserve
fastapi
uvicorn
sse-starlette
chromadb
faiss-cpu
cassio
sentence-transformers
groq
streamlit
PyPDF2
pdfminer.six
pypdf
unstructured
beautifulsoup4
bs4
wikipedia
arxiv
python-dotenv    